<div id="toc" class="toc-article">
    <div class="toc-title">目录</div>

      <h3 class="widget-title"><%= __('widget.categories') %></h3>
      <div class="widget">
        <%- toc(post.content) %>
      </div>

</div>
