<!-- unused -->
<% if (!index &&site.categories.length) { %>
    <div >
        <div >
          <div >目录</div>
          <% if (!index && post.toc) { %>

              <div id="toc" class="toc-article">
                <h3 class="widget-title"><%= __('widget.categories') %></h3>
                <div class="widget">
                  <%- toc(post.content) %>
                  <!-- <%- partial('post/toc') %> -->
                </div>
              </div>
          <% } %>
        </div>
    </div>
<% } %>
