<section class="layout-wrap">
    <div class="layout-title">
        <span><%= page.title %></span>
    </div>
    <div class="layout-wrap-inner tag-cloud">
      秦时明月汉时关，滚滚黄河蓝蓝的天，壮士铁马将军剑，旌旗半卷出长安。 女儿柔肠男儿胆，滔滔热血汉衣冠，大漠无垠江湖远，暴雨惊雷亦如盘。 美人泪、杯中酒、天下任、丈夫肩、风萧萧、路漫漫、 情切切、意绵绵、生死盟、山河恋、君与臣、恩与怨…… 何必回头伤往事，且把风流唱少年。万里江山千钧担，守业更比创业难 。
    </div>
</section>
